# Default ignores
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.env
/.idea

# QA tools
/.phpcs-cache
/.deptrac.cache
.phpunit
.phpunit.result.cache
/phpunit.xml

# Compiled frontend assets
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
/public/assets/
