body {
    background-color: $light-gray;
}

a, a:hover {
    color: $gray-900;
}

.jumbotron {
    border-radius: 0;
}

.btn {
    border: 0;
    border-radius: 0;
}

.form-control {
    border: 0;
    border-radius: 0;
    background-color: $light-gray;
}

.dropdown-menu {
    border: 0;
    border-radius: 0;
}

.has-soft-shadow {
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem $light-green;
}