.header {
    color: $bright-white;
    background: $dark-gray;

    box-shadow: 0px 0px 19px 3px rgba(161,161,161,0.5);
    -webkit-box-shadow: 0px 0px 19px 3px rgba(161,161,161,0.5);
    -moz-box-shadow: 0px 0px 19px 3px rgba(161,161,161,0.5);


    &--container {
        min-height: 10vh;
        display: flex;
    }

    #profile-menu-link:hover {
        cursor: pointer;
    }

    .navbar {
        width: 100%;
    }

    .navbar-player {
        width: 100%;

        @include media-breakpoint-up(lg) {
            width: auto;
        }
    }

    .form-control:focus {
        box-shadow: none;
    }

    .navbar-player-text {
        width: 12rem;
        text-align: left;

        &--title {
            color: $white;
        }

        &--small {
            .animated-bars {
                margin: 0;
                padding: 0;
                display: inline-flex;

                display: inline-flex;

                &--item {
                    list-style: none;
                    width: 3px;
                    height: 10px;
                    background-color: $white;
                    margin: 0 0.063rem;
                    animation: animate 600ms infinite alternate;

                    &:nth-child(1){
                        animation-delay: 100ms;
                    }

                    &:nth-child(2){
                        animation-delay: 400ms;
                    }

                    &:nth-child(3){
                        animation-delay: 200ms;
                    }

                    &:nth-child(4){
                        animation-delay: 500ms;
                    }
                }
            }

            @keyframes animate {
                0%{
                    transform: scaleY(0.5);
                }
                25%{
                    transform: scaleY(1);
                }
                50%{
                    transform: scaleY(0.75);
                }
                75%{
                    transform: scaleY(1);
                }
                100%{
                    transform: scaleY(0.25);
                }

            }
        }

        &--small,
        &--artist {
            color: $gray;
            font-size: 80%;

            a {
                color: $gray;
            }
        }
    }

    .navbar-player-image {
        margin-left: 1rem;
    }

    .text-truncate {
        width: 12rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }

    .navbar-dark {
        .navbar-toggler {
            border: 0;
        }
    }
}