.header {
    color: $bright-white;
    background: $dark-gray;
    padding: 1rem 0 1rem;

    .header-menu {
        list-style-type: none;
        display: inline-flex;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;

        &--item {

        }
    }

    .navbar-player-text {
        width: 12rem;

        &--small,
        &--artist {
            color: $gray;
        }
    }

    .navbar-player-image {
        margin-left: 1rem;
    }

    .text-truncate {
        width: 12rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }
}