<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css' }}">

        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>

        {% block body %}{% endblock %}


        <script src="{{ asset('assets/js/jQuery.js') }}" ></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>

    </body>
</html>